<div class = "row">
<div class = "col-md-1"></div>
<div class = "col-md-10">
<form action="/add/postdevice" method="post" name="adddevice" id="adddevice" encType="multipart/form-data">
    <label for="devicename">Device Name:</label>
    <input type="text" name="devicename" id="devicename"><br>
    <label for="systemname">Project</label>
    <select name = "systems" multiple>
        {{#each projectlist}}
        <option value="{{projectid}}">{{projectname}}</option>
        {{/each}}
    </select><br>

    <label for="name">User : </label>
    <select name = "user">
        {{#each userlist}}
        <option value="{{userid}}">{{useremail}}</option>
        {{/each}}
    </select><br>

    <input type="file" name="theFile" />
    <br><input type="submit" value='Submit'>
</form>
</script>
<br>