<form action="updatecert" method="post" name="updatecert" id="updatecert">
    <label for="name">Cert Name:</label>
    <input type="text" name="name" id="name" value="{{{certname}}}"><br>
 <br><input type="submit" value='Submit'>
</form>
