<form action="updatecert" method="post" name="updatecert" id="updatecert" encType="multipart/form-data">
    <label for="name">Cert Name:</label>
    <input type="text" name="name" id="name"><br>
    <label for="date3">Start Date:</label>
    <input type="date" name="start_date" id="date"><br>
    <label for="date4">Expiry Date:</label>
    <input type="date" name="expiry_date" id="date2"><br>
    <label for="name">System : </label>
    <select name = "systems">
        {{#each data}}
        <option value="{{systemid}}">{{systemname}}</option>
        {{/each}}
    </select><br>
    <input type="file" name="theFile" />
    <br><input type="submit" value='Submit'>
</form>
</script>
<br>