<div class="jumbotron">
    <div class="container">
        <h1>BPDTS.</h1>
        <p>Cert Database</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter Cert Information Here</legend>

                <div class="form-group">
                    <label for="first_name">Cert name</label>
                    <input type="text" class="form-control" name="cert_name" id="cert_name" placeholder="Cert Name">
                </div>

                <div class="form-group">
                    <label for="System">System</label>
                    <input type="text" class="form-control" name="system" id="system" placeholder="system">
                </div>

                <div class="form-group">
                    <label for="Start Date">Start Date</label>
                    <input type="text" class="datepicker" name="start_date" id="datepicker" placeholder="Start date">
                </div>

                <div class="form-group">
                    <label for="end date">End Date</label>
                    <input type="text" class="dateTxt" name="end_date" id="datepicker2" placeholder="End date">
            </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>