<label for="textfield">Cert Name:</label>
<input type="text" name="textfield" id="textfield"><br>
<label for="date3">Start Date:</label>
<input type="date" name="date" id="date"><br>
<label for="date4">Expiry Date:</label>
<input type="date" name="date2" id="date2"><br>
Date <input type="text" id="Datepicker1">
<form id="form1" name="form1" method="post">
  Content for form Goes Here
</form>
<script type="text/javascript">
$(function() {
	$( "#Datepicker1" ).datepicker(); 
});
</script>